body {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230904/pngtree-people-grouped-together-in-a-team-image_13218349.jpg);
  background-repeat: no-repeat;
  background-size: 200% ;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color:cyan;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: blue;
  background-color: chartreuse;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  text-align: center;
}
/* 
#output {
  border: solid 5px;
  height: 200px;
} */
